.button{
    /*-fx-border-radius: 5;*/
    -fx-background-radius: 10;
    -fx-padding: 15;
}

.root{
    -fx-font-size: 16pt;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-base: rgb(131, 205, 255);
    -fx-background: rgb(108, 117, 122);
}